<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_ignition_plugins">

  <gazebo>
    <!-- Joint States -->
    <plugin filename="libignition-gazebo-joint-state-publisher-system.so" name="ignition::gazebo::systems::JointStatePublisher"/>

    <!-- Joint Trajectories -->
    <plugin filename="libignition-gazebo-joint-trajectory-controller-system.so" name="ignition::gazebo::systems::JointTrajectoryController">
      
      <topic>joint_trajectory</topic>

      <joint_name>shoulder_pan_joint</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>shoulder_lift_joint</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>elbow_joint</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>wrist_1_joint</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>wrist_2_joint</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>

      <joint_name>wrist_3_joint</joint_name>
      <initial_position>0</initial_position>
      <position_p_gain>3000</position_p_gain>
      <position_d_gain>15</position_d_gain>
      <position_i_gain>1650</position_i_gain>
      <position_i_min>-15</position_i_min>
      <position_i_max>15</position_i_max>
      <position_cmd_min>-87</position_cmd_min>
      <position_cmd_max>87</position_cmd_max>
    </plugin>

  </gazebo>
</robot>
