<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
   <xacro:include filename="$(find ur_description)/urdf/ur_kinematics_macro.xacro"/>
   <xacro:include filename="$(find ur_description)/urdf/inc/ur_common.xacro" />

   <xacro:macro name="ur_robot" params="
    prefix
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    transmission_hw_interface:=hardware_interface/PositionJointInterface
    safety_limits:=false
    safety_pos_margin:=0.15
    safety_k_position:=20
    use_fake_hardware:=false
    fake_sensor_commands:=false
    robot_ip:=0.0.0.0
    script_filename:=to_be_filled_by_ur_robot_driver
    output_recipe_filename:=to_be_filled_by_ur_robot_driver
    input_recipe_filename:=to_be_filled_by_ur_robot_driver
    initial_positions:=${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}
    ">

     <xacro:read_model_data
       joint_limits_parameters_file="${joint_limits_parameters_file}"
       kinematics_parameters_file="${kinematics_parameters_file}"
       physical_parameters_file="${physical_parameters_file}"
       visual_parameters_file="${visual_parameters_file}"/>

     <!-- arm -->
     <xacro:ur_robot_kinematics
       prefix="${prefix}"
       safety_limits="${safety_limits}"
       safety_pos_margin="${safety_pos_margin}"
       safety_k_position="${safety_k_position}"
       />
    <!-- ros2 control include -->
    <xacro:include filename="$(find ur_description)/urdf/ur.ros2_control.xacro" />
    <!-- ros2 control instance -->
    <xacro:ur_ros2_control
      name="URPositionHardwareInterface" prefix="${prefix}"
      use_fake_hardware="${use_fake_hardware}"
      initial_positions="${load_yaml(initial_positions_file)}"
      fake_sensor_commands="${fake_sensor_commands}"
      script_filename="${script_filename}"
      output_recipe_filename="${output_recipe_filename}"
      input_recipe_filename="${input_recipe_filename}"
      tf_prefix=""
      hash_kinematics="${kinematics_hash}"
      robot_ip="${robot_ip}" />
   </xacro:macro>
</robot>
