<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ur_joint_control_description" params="
    tf_prefix
    initial_positions:=${dict(shoulder_pan_joint=0.0,shoulder_lift_joint=-1.57,elbow_joint=0.0,wrist_1_joint=-1.57,wrist_2_joint=0.0,wrist_3_joint=0.0)}
    ">
    <joint name="${tf_prefix}shoulder_pan_joint">
      <!-- <command_interface name="position"/> -->
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">${initial_positions['shoulder_pan_joint']}</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="${tf_prefix}shoulder_lift_joint">
      <!-- <command_interface name="position"/> -->
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">${initial_positions['shoulder_lift_joint']}</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="${tf_prefix}elbow_joint">
      <!-- <command_interface name="position"/> -->
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">${initial_positions['elbow_joint']}</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="${tf_prefix}wrist_1_joint">
      <!-- <command_interface name="position"/> -->
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">${initial_positions['wrist_1_joint']}</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="${tf_prefix}wrist_2_joint">
      <!-- <command_interface name="position"/> -->
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">${initial_positions['wrist_2_joint']}</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
    <joint name="${tf_prefix}wrist_3_joint">
      <!-- <command_interface name="position"/> -->
      <!-- <command_interface name="velocity"/> -->
      <state_interface name="position">
        <!-- initial position for the mock system and simulation -->
        <param name="initial_value">${initial_positions['wrist_3_joint']}</param>
      </state_interface>
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
    </joint>
  </xacro:macro>
</robot>
