<?xml version="1.0"?>
<launch>
  <!-- This is not the full list, many additional args can be passed if custom values are needed. See ur_common.launch -->
  <arg name="robot_ip" doc="IP address by which the robot can be reached."/>
  <arg name="controller_config_file" default="$(find ur_robot_driver)/config/ur5_controllers.yaml" doc="Config file used for defining the ROS-Control controllers."/>
  <arg name="robot_description_file" default="$(find ur_description)/launch/ur5_upload.launch" doc="Robot description launch file."/>
  <arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>

  <include file="$(find ur_robot_driver)/launch/ur_common.launch" pass_all_args="true">
    <arg name="use_tool_communication" value="false"/>
    <arg name="robot_ip" value="$(robot_ip)"/>
    <arg name="controller_config_file" value="$(controller_config_file)"/>
    <arg name="robot_description_file" value="$(robot_description_file)"/>
    <arg name="kinematics_config" value="$(kinematics_config)"/>
  </include>
</launch>
