name: Galactic Binary Build
on:
  schedule:
    # Run every morning to detect flakiness and broken dependencies
    - cron: '03 4 * * *'

jobs:
  galactic_binary:
    name: galactic binary build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ROS_DISTRO: [galactic]
        ROS_REPO: [main, testing]
    env:
      NOT_TEST_BUILD: true
      NOT_TEST_DOWNSTREAM: true
    steps:
      - uses: actions/checkout@v4
        with:
          ref: galactic
      - uses: 'ros-industrial/industrial_ci@master'
        env:
          ROS_DISTRO: ${{ matrix.ROS_DISTRO }}
          ROS_REPO: ${{ matrix.ROS_REPO }}
